<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="span8">
    <% if @user.holidays.any? %>
      <h3>Holidays (<%= @user.holidays.count %>)</h3>
      <ol class="holidays">
        <% @holidays.each do |holiday| -%>
          <li><%=holiday.start_date%> - <%=holiday.end_date%> - <%=holiday.work_days%> Days Leave</li>
          <%= link_to 'Cancel Holiday', holiday_path(holiday),
            :confirm => 'Are you sure?', :method => :delete %>
            <%= link_to 'Edit Holiday', edit_holiday_path(holiday) %>
            <%=accepted_icon_for_holidays(holiday)%>
        <% end -%>
      </ol>
      <%= will_paginate @holidays %>

      <h3>Total number of holidays this year</h3>
      <%=@user.total_holidays%> / <%=@user.holiday_allowance%>
    <% end %>

    <br>
    <br>
    

    <%= link_to "Book Holiday!", new_holiday_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>
<br><br>
<div >
  <h3>Employee Holidays</h3>
  <%if current_user.admin? %>
      <table border="1">
        <thead>
          <tr>
            <th>Employee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Accept</th>
          </tr>
        </thead>
        <% @employee_holiday.each do |holiday|%>
          <tbody>
            <tr>
              <td><%=holiday.user.name%></td>
              <td><%=holiday.start_date%></td>
              <td><%=holiday.end_date%></td>
              <% if holiday.accepted? %>
                <td><%=button_to "Decline", decline_holiday_path(holiday), {class: "btn btn-danger", form: {style: 'margin:0px;'} } %><td>
              <%else%>
                <td><%=button_to "Accept", accept_holiday_path(holiday), {class: "btn btn-primary", form: {style: 'margin:0px;'} } %><td>
              <%end%>
            </tr>
          </tbody>
        <%end%>
      </table>
  <%end%>
</div>